openapi: 3.1.0
info:
  title: vet402 API
  version: 1.0.0
  description: |
    Independent verification for the x402 agent-payment economy. Scores payee
    wallets and ERC-8004 agents on Base, returns a 0-100 score with an
    ALLOW/WARN/BLOCK recommendation, and publishes what happened after those
    verdicts.

    **Disclaimer:** Scores are informational only and do not constitute a guarantee,
    credit assessment, or investment advice. Every response that carries a score or
    a published rate repeats this string in the payload, so the caveat travels with
    the number.

    **Rate limits.** Authenticated calls: a per-account monthly quota (Free 1,000
    / Pro 50,000 / Scale 500,000), shared across keys, reset at the UTC month
    boundary. Each `/score` is 1 unit; a `/scores/batch` of N agents is N units.
    Scored responses carry `X-RateLimit-Limit`, `X-RateLimit-Used`, and
    `X-RateLimit-Remaining`. There is no per-second burst throttle on
    authenticated calls — you may spend the quota as fast as you like; a `429`
    with `Retry-After` means the monthly quota is exhausted. Separate IP-based
    abuse throttles (e.g. 60 auth-failures/min/IP) exist only to blunt
    key-guessing and scraping and are not hit by valid authenticated traffic.

    Key-less calls are throttled per IP instead. Every response on those paths
    carries `RateLimit-Limit` — the ceiling for that path, true for every caller.
    `RateLimit-Remaining` and `RateLimit-Reset` (IETF draft names, distinct from
    the `X-RateLimit-*` monthly quota above) are per-caller counters and are sent
    only on responses a shared cache does not replay to a different caller —
    chiefly the `429`, which also carries `Retry-After`. A CDN-cached `200`
    deliberately omits them: a counter belonging to whoever populated the cache
    would be a number that means something other than what it appears to mean.

    **Unknown paths.** Any request under `/api/` that matches no route answers
    `404` with a JSON body (`{"error":"not_found","path":…}`), never an HTML
    page — a mistyped path is safe to feed to the same parser as every other
    response.

  contact:
    name: vet402 API Support
    url: https://vet402.com/docs/api
  license:
    name: Proprietary

servers:
  - url: https://vet402.com
    description: Production
    # 2026-08-13: was https://agent-trust-tawny.vercel.app/api/v1 — our own
    # former deployment host, which now 308s to vet402.com and which
    # public/llms.txt explicitly asks machines not to cite or link. A client
    # generated from that spec inherited the dead host. The base is now the
    # site origin rather than `…/api/v1`, so the key-less paths that live
    # outside the v1 prefix (/api/demo/score, /api/badge/…, /api/health) can be
    # described here too; every path below is written in full from the root.
  - url: http://localhost:3000
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: Scores
    description: Trust score lookups
  - name: Payees
    description: Buyer-side screening of payment-receiving wallets
  - name: Agents
    description: ERC-8004 agent identity claims and passports
  - name: Settlements
    description: x402 payment attestations
  - name: Outcomes
    description: Result-label reporting for past trust score verdicts
  - name: Accuracy
    description: The public measurement ledger — what happened after the verdicts
  - name: Watchlist
    description: Standing watches on an agent or wallet, delivered as webhooks
  - name: Observatory
    description: Claim-proved watches on x402 endpoints paying a wallet
  - name: Resolve
    description: Reverse lookups over the canonical object ids (product spec §5 / §7.3)
  - name: Decision
    description: Pre-payment / pre-service decisions derived from L0–L2 facts (product spec §8.3 / §9.1)
  - name: Census
    description: Settlement index summaries — raw and real (wash/test excluded) side by side (product spec §7.2)
  - name: Webhooks
    description: Webhook endpoint registration
  - name: Badges
    description: Embeddable SVG verification badges
  - name: System
    description: Health and metadata

# Every public endpoint the product serves is below (2026-08-13 — the spec
# previously carried 10 of them and called itself the "full machine-readable
# schema", so a generated client could reach about half the product).
#
# Deliberately absent, and not an oversight:
#   - /api/v1/guarantee/quote — gated behind GUARANTEE_UNDERWRITING_ENABLED and
#     404s when off, for EVERY method (2026-09-01: it previously 404'd only on
#     GET, so a POST got Next's default 405 and that 405 revealed the route
#     existed). It is not in `paths:` because a dormant financial product must
#     not be QUOTABLE or implied to be purchasable.
#     Stated plainly, because this comment is public and names it: listing it
#     here is not concealment, it is the opposite — the omission from `paths:`
#     is disclosed rather than silent. What must never happen is the endpoint
#     answering, or a reader believing coverage can be bought today. It cannot.
#     Document it properly in the same release that turns it on.
#   - /api/admin/*, /api/cron/*, /api/billing/*, /api/dashboard/*, /api/signup —
#     the site's own internals (admin token, cron secret, or dashboard session),
#     not an interface anyone integrates against.
paths:
  /api/v1/agents/{agentId}/score:
    get:
      operationId: getAgentScore
      tags: [Scores]
      summary: Get trust score by ERC-8004 agent ID
      description: |
        Returns trust score for a registered ERC-8004 agent.
        Pass `wallet` query param to verify the agent's registered wallet matches.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/VerifyWallet"
      responses:
        "200":
          description: Trust score result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustScoreResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/wallets/{address}/score:
    get:
      operationId: getWalletScore
      tags: [Scores]
      summary: Get trust score by wallet address
      description: |
        Primary integration path for x402 API middleware.
        Resolves wallet to agent when indexed; otherwise returns wallet heuristics.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Trust score result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustScoreResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/payees/{address}/score:
    get:
      operationId: getPayeeScore
      tags: [Payees]
      summary: Get trust score for a payee (payment-receiving wallet)
      description: |
        Buyer-side counterpart to `/api/v1/agents/{agentId}/score` and
        `/api/v1/wallets/{address}/score`,
        which screen the caller of an x402 route. This endpoint screens the *recipient*:
        "should my agent pay this wallet?" before an x402 payment is sent.

        Combines the wallet's own settlement receiving history (payments attested via
        `POST /api/v1/payments/x402` where it was the payee), wallet-age/tx-count health, an
        exit-scam-shaped outflow check (received funds then drained them), and any prior
        `verdict_outcomes` labels naming this wallet.

        Never 404s for an unfamiliar wallet — a wallet with little or no receiving
        history still returns `200` with `dataDepth: "thin"`, so integrators can decide
        how much to trust a thin-data score rather than being blocked outright.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Payee score result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayeeScoreResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/payees/verify:
    get:
      operationId: previewPayeeVerifyMessage
      tags: [Payees]
      summary: Preview the canonical message to sign for payee verification
      description: |
        Returns the exact message a payee wallet must sign to register via
        `POST /api/v1/payees/verify`, plus the `issued` timestamp embedded in
        it (echo the same value back in the POST — the signature only verifies
        against the exact message it signed). No API key; throttled to 30
        requests per minute per IP like the other key-less paths. The message
        binds wallet + name, optionally a `url` line (so a published proof
        cannot overwrite the profile link), and an `issued` line (so an old
        signature cannot be replayed to roll back a newer edit). `issued` must
        be within 10 minutes of the server clock at POST time.
      security: []
      parameters:
        - name: wallet
          in: query
          required: true
          schema: { type: string }
        - name: name
          in: query
          required: true
          schema: { type: string, maxLength: 80 }
        - name: url
          in: query
          required: false
          schema: { type: string, format: uri }
          description: Optional https profile URL; when set it is bound into the signed message.
      responses:
        "200":
          description: Canonical message to sign
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  issued:
                    type: string
                    description: Echo this exact value back in the POST body.
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      operationId: verifyPayee
      tags: [Payees]
      summary: Register a verified payee by signing the canonical message
      description: |
        Free, no API key. Sign the message from `GET /api/v1/payees/verify` (or
        build it yourself per that endpoint's description) with the payee
        wallet — a valid EIP-191 signature is the proof of control and the
        main anti-abuse gate, backed by an 8-per-minute-per-IP write throttle
        (EOA wallets only). Publishes a public profile at `/payee/{wallet}`
        and an embeddable SVG badge at `/api/badge/{wallet}.svg`. Verification
        proves wallet control only; trust scores stay computed independently.

        `url` and `issued` are part of the signed bytes. Writes are monotonic
        on `issued`: replaying an older still-valid signature returns `409
        stale_signature` instead of rolling back a newer (name, url) edit.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet, name, issued, signature]
              properties:
                wallet: { type: string }
                name: { type: string, maxLength: 80 }
                url: { type: string, format: uri, description: "Must be https://" }
                issued:
                  type: string
                  description: The exact `issued` value from GET (or self-generated, within 10 minutes of now).
                signature: { type: string, maxLength: 4000 }
      responses:
        "200":
          description: Payee verified and published
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  profile: { type: string }
                  badge: { type: string }
        "400":
          description: |
            Bad request — includes `invalid_wallet_address`, `url_must_be_https`,
            `invalid_issued_at`, `signature_expired` (issued outside the
            10-minute window), and `signature_mismatch` (whose response body
            also carries `expectedMessage`, so a rejected signature is
            self-diagnosing).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  expectedMessage:
                    type: string
                    description: Present only on signature_mismatch.
        "409":
          description: |
            `stale_signature` — the signed `issued` is not newer than the
            currently stored one, so the write was rejected (replay guard).
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Store unavailable (schema not yet migrated, or DB unreachable).

  /api/v1/scores/batch:
    post:
      operationId: batchScore
      tags: [Scores]
      summary: Batch trust score lookup
      description: Score up to 25 agents in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchScoreRequest"
      responses:
        "200":
          description: Batch results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchScoreResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/payments/x402:
    post:
      operationId: attestX402Payment
      tags: [Settlements]
      summary: Attest an x402 payment settlement
      description: |
        Call after x402 payment verification. Idempotent on `txHash`.
        Settlement history is weighted into trust scores (SCORE_WEIGHTS.x402).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet, txHash]
              properties:
                wallet:
                  type: string
                  pattern: "^0x[a-fA-F0-9]{40}$"
                txHash:
                  type: string
                  pattern: "^0x[a-fA-F0-9]{64}$"
                amount:
                  type: string
                  description: Payment amount as decimal string (smallest unit OK)
                network:
                  type: string
                  default: base
                resource:
                  type: string
                  description: Paid route or resource identifier
      responses:
        "201":
          description: Payment attested
        "200":
          description: Already attested (idempotent)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/agents/{agentId}/history:
    get:
      operationId: getAgentScoreHistory
      tags: [Scores]
      summary: Get score history (Pro+)
      description: Returns historical score snapshots. Requires Pro or Scale plan.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Score history
          content:
            application/json:
              schema:
                type: object
                properties:
                  agentId:
                    type: string
                  history:
                    type: array
                    items:
                      $ref: "#/components/schemas/TrustScoreResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Plan upgrade required

  /api/v1/events/{trustEventId}/outcome:
    post:
      operationId: reportVerdictOutcome
      tags: [Outcomes]
      summary: Report what actually happened after a trust score verdict
      description: |
        Partner-reported result label for a past `…/score` verdict — e.g. confirmed
        fraud, a chargeback, or confirmation the agent was legitimate. Idempotent
        on `(trustEventId, outcomeType, caller's API key)`: reporting the same
        `outcomeType` again for the same event returns the existing row (`200`)
        instead of creating a duplicate.

        This feeds the public accuracy ledger at `GET /api/v1/accuracy`; it does
        not affect the reported agent's live trust score.

        You may only report outcomes on **your own** verdicts. A `trustEventId`
        belonging to another API key is refused as `404` — the same answer as an
        id that does not exist, so this endpoint cannot be used to discover
        whether a guessed id names a real verdict.
      parameters:
        - name: trustEventId
          in: path
          required: true
          description: >-
            The `id` from a prior `/score` response's persisted trust event.
            Must belong to the calling API key.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcomeType]
              properties:
                outcomeType:
                  type: string
                  enum: [confirmed_fraud, confirmed_legitimate, chargeback_dispute, other]
                relatedWallet:
                  type: string
                  pattern: "^0x[a-fA-F0-9]{40}$"
                  description: >-
                    The wallet the outcome is about. Optional, and it can only
                    be the wallet the original trust event was about — supplying
                    any other address is rejected with `related_wallet_mismatch`
                    (400). Omit it and that same wallet is used automatically.
                notes:
                  type: string
                  maxLength: 1000
                evidenceUrl:
                  type: string
                  format: uri
                  maxLength: 2048
      responses:
        "201":
          description: Outcome recorded
        "200":
          description: Already reported (idempotent)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: trustEventId not found, or not owned by the calling key
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/webhooks:
    get:
      operationId: listWebhooks
      tags: [Webhooks]
      summary: List this key's webhook endpoints
      description: Signing secrets are never returned — they are shown once at registration.
      responses:
        "200":
          description: The key's endpoints and the full list of subscribable events
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items: { $ref: "#/components/schemas/Webhook" }
                  events:
                    type: array
                    items: { $ref: "#/components/schemas/WebhookEventType" }
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createWebhook
      tags: [Webhooks]
      summary: Register a webhook endpoint (max 5 per key)
      description: |
        The signing secret is returned ONCE in this response — store it; it is
        never retrievable again. `url` must be https to a public host and is
        SSRF-validated here AND at every delivery (a DNS record can change
        between the two). `events` must be a non-empty subset of the event list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: https URL to a public host (no credentials, no private/reserved IPs)
                events:
                  type: array
                  minItems: 1
                  items: { $ref: "#/components/schemas/WebhookEventType" }
      responses:
        "201":
          description: Registered; secret shown once
          content:
            application/json:
              schema:
                type: object
                required: [id, url, events, secret]
                properties:
                  id: { type: string, format: uuid }
                  url: { type: string, format: uri }
                  events:
                    type: array
                    items: { $ref: "#/components/schemas/WebhookEventType" }
                  secret:
                    type: string
                    description: HMAC signing secret (whsec_…), shown only here
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Per-key webhook limit reached (max 5)
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/webhooks/{id}:
    delete:
      operationId: deleteWebhook
      tags: [Webhooks]
      summary: Remove a webhook endpoint this key owns
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found (or not owned by this key — indistinguishable on purpose)

  /api/v1/watchlist:
    get:
      operationId: listWatchlist
      tags: [Watchlist]
      summary: List this key's watches
      description: |
        Standing watches this key owns. A watch is re-scanned on a schedule and
        a change in recommendation is delivered as a `watch.verdict_changed`
        webhook — nothing is pushed here, and scores are never pushed at all.
      responses:
        "200":
          description: The key's watches
          content:
            application/json:
              schema:
                type: object
                required: [watchlist]
                properties:
                  watchlist:
                    type: array
                    items: { $ref: "#/components/schemas/WatchlistEntry" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Watchlist store unavailable
    post:
      operationId: addWatch
      tags: [Watchlist]
      summary: Watch an agent or wallet (max 50 per key)
      description: |
        Register a target to re-scan. Register a webhook subscribed to
        `watch.verdict_changed` first, or the watch has nowhere to report to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetType, target]
              properties:
                targetType:
                  type: string
                  enum: [agent, wallet]
                target:
                  type: string
                  maxLength: 80
                  description: >-
                    Agent ID (decimal string) when targetType is `agent`; an EVM
                    address when it is `wallet`. Validated per type — a malformed
                    one is `invalid_agent_id` / `invalid_wallet_address` (400).
                chainId:
                  type: integer
                  description: Optional chain selector; defaults to the Base mainnet id.
      responses:
        "201":
          description: Watch created
          content:
            application/json:
              schema:
                type: object
                required: [ok, id]
                properties:
                  ok: { type: boolean }
                  id: { type: string, format: uuid }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Per-key watch limit reached (max 50)
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Watchlist store unavailable

  /api/v1/watchlist/{id}:
    delete:
      operationId: deleteWatch
      tags: [Watchlist]
      summary: Remove a watch this key owns
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found (or not owned by this key — indistinguishable on purpose)
        "503":
          description: Watchlist store unavailable

  /api/v1/demo/verify:
    post:
      operationId: runDemoVerify
      tags: [Observatory]
      summary: Playground live verification (L0; L1 behind an operator flag)
      description: |
        Backs the public `/playground` page: runs one live L0 probe against a
        catalog-listed endpoint and returns the measurement as-is. Demo probes
        are NOT written into the public register, so the Observatory's daily
        cadence stays clean. Key-less; IP-throttled to 5/min. `level: l1`
        triggers one real purchase through the exact same budget-reserved
        runner the daily batch uses, and is double-gated (DEMO_L1_ENABLED and
        the Observatory L1 flag, both off by default) plus limited to one call
        per caller per day.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpointId]
              properties:
                endpointId:
                  type: string
                  format: uuid
                level:
                  type: string
                  enum: [l0, l1]
                  default: l0
      responses:
        "200":
          description: Live measurement (l0) or purchase summary with the receipt series (l1)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  endpoint:
                    type: object
                    properties:
                      id: { type: string }
                      resourceKey: { type: string }
                      payTo: { type: string, nullable: true }
                      network: { type: string, nullable: true }
                  probe:
                    type: object
                    description: Same shape as the Observatory's L0 probe record
                    properties:
                      verdict: { type: string, enum: [pass, fail, unverified] }
                      httpStatus: { type: integer, nullable: true }
                      has402Challenge: { type: boolean, nullable: true }
                      acceptsValid: { type: boolean, nullable: true }
                      priceConsistent: { type: boolean, nullable: true }
                      metadataConsistent: { type: boolean, nullable: true }
                      latencyMs: { type: integer, nullable: true }
                      failReason: { type: string, nullable: true }
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: level=l1 requested while the demo purchase flag is off
        "404":
          description: Unknown or delisted endpoint
        "429":
          description: Rate limited (5 probes/min; 1 live purchase/day)
        "503":
          description: Demo temporarily unavailable

  /api/frame/endpoint/{id}:
    get:
      operationId: getEndpointFrame
      tags: [Observatory]
      summary: Farcaster Frame card for one endpoint's receipt record
      description: |
        vNext Frame HTML: an image card with the endpoint's real-purchase
        record (attempts, settled, settle rate) and a link button to the full
        receipt series. Same facts as the endpoint page — no scores, no
        evaluative language. Key-less; IP-throttled to 60/min; CDN-cached.
      security: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Frame HTML (fc:frame vNext meta tags)
          content:
            text/html: {}
        "404":
          description: Unknown endpoint
        "429":
          description: Rate limited

  /api/v1/observatory/contributions:
    post:
      operationId: submitProbeContribution
      tags: [Observatory]
      summary: Submit an externally-observed L0 result (v0, collect-only)
      description: |
        Permissionless L0 contribution intake (Phase 3.3 v0), OFF by default
        behind an operator flag. Submissions are EIP-191 signed over the
        canonical message
        `vet402:contribution:v1:{endpointId}:{verdict}:{httpStatus}:{latencyMs}:{issued}`
        and stored with the signed message verbatim for auditability.

        **Breaking change 2026-08-22 (v0 → v1).** `issued` (RFC 3339 UTC, e.g.
        `2026-08-22T13:04:05Z`) is now part of the signed message and is
        REQUIRED. The server rejects a signature whose `issued` is more than
        10 minutes from server time in either direction (400
        `signature_expired`), and rejects a repeat of the same canonical
        message (409 `replayed`). Without both checks a captured signature
        could be replayed indefinitely. Signatures produced against the v0
        message form no longer verify.
        v0 contributions are NEVER folded into published verdicts — the public
        register remains computed from vet402's own probes until the weighted
        v1 design ships. IP-throttled to 10/min.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpointId, verdict, address, signature, issued]
              properties:
                endpointId: { type: string, format: uuid }
                verdict: { type: string, enum: [pass, fail, unverified] }
                httpStatus: { type: integer, nullable: true }
                latencyMs: { type: integer, nullable: true }
                address: { type: string, description: EVM address of the signer }
                signature: { type: string, description: EIP-191 signature of the canonical message }
                issued:
                  type: string
                  format: date-time
                  description: >-
                    RFC 3339 UTC instant folded into the signed message. Must be
                    within 10 minutes of server time in either direction.
                    Required since 2026-08-22 (message form v1).
      responses:
        "201":
          description: Stored (not folded into published verdicts)
        "400":
          description: >-
            Invalid input, invalid signature, or `signature_expired` (the
            signed `issued` is outside the 10-minute window)
        "403":
          description: Contributions intake is disabled (default)
        "409":
          description: >-
            `replayed` — this exact canonical message was already accepted
        "429":
          description: Rate limited
        "503":
          description: Store unavailable

  /api/v1/observatory/export.csv:
    get:
      operationId: exportObservatoryLedgerCsv
      tags: [Observatory]
      summary: Purchase-ledger CSV export (audit-trail serialization)
      description: |
        The same paid-attempt series the endpoint pages publish, as CSV —
        a portable audit trail (Phase 4.2 v0). No new claims are minted here:
        rows are the ledger facts (attempted_at, resource_key, network,
        status, amounts, tx_hash, delivery figures). Excludes vet402-side
        non-events (budget_denied / request_error / in_flight). `days`
        saturates to 1..366; output truncates at 50,000 rows and says so in
        the `x-vet402-truncated` header. IP-throttled to 6/min.
      security: []
      parameters:
        - in: query
          name: days
          required: false
          schema: { type: integer, minimum: 1, maximum: 366, default: 90 }
      responses:
        "200":
          description: CSV, oldest attempt first
          content:
            text/csv: {}
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          description: Rate limited
        "503":
          description: Observatory store unavailable

  /api/v1/graph/payto/{address}:
    get:
      operationId: getPayToGraph
      tags: [Scores]
      summary: Adjacency graph around one payTo wallet (facts only)
      description: |
        Endpoints the wallet receives on (with vet402's own paid-attempt
        tallies) and other payTo values receiving on the same hosts. Adjacency
        facts only — no inference. API key required (1 unit).
      responses:
        "200": { description: Graph with embedded definition string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { description: Store unavailable }

  /api/v1/observatory/anchors:
    get:
      operationId: getLedgerAnchors
      tags: [Observatory]
      summary: Daily hash chain over the purchase ledger
      description: |
        One root per UTC day: sha256((prevRoot ?? 'genesis') + newline +
        canonical JSON of that day's L1 rows, pk-ascending). Rewriting any past
        row breaks every later root; the projection is open source, so third
        parties can recompute from export.csv. anchoredTx, when present, is the
        on-chain anchor (staged rollout, off by default). Key-less; 30/min.
      security: []
      parameters:
        - in: query
          name: days
          required: false
          schema: { type: integer, minimum: 1, maximum: 366, default: 30 }
      responses:
        "200": { description: Anchors newest-day first, with recompute recipe }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/resolve:
    get:
      operationId: resolveQuery
      tags: [Resolve]
      summary: Reverse lookup — URL, domain, address, tx hash or payee_id in, canonical objects out
      description: |
        Product spec §7.3. `q` is classified by shape: a URL resolves to its
        Resource (`resource_id` = sha256(method + " " + canonical_url)) and the
        endpoints on that host; a domain to its endpoints; an address (0x or
        base58) or a `payee_id` (`chain:address`) to the endpoints that declare
        it as payTo; a transaction hash to the indexed settlement and, when
        attributed, its resource. Returns measurement identifiers only — never a
        recommendation. Key-less; 60/min.
      security: []
      parameters:
        - in: query
          name: q
          required: true
          schema: { type: string, maxLength: 2048 }
      responses:
        "200": { description: "{ query, resource?, endpoints?, payees?, settlement?, disclaimer }" }
        "400":
          description: |
            `invalid_query`. Sent when `q` is missing, empty or over 2048 chars,
            and also when `q` has a shape the classifier cannot place (`kind:
            unknown`) — in that second case the body also carries `query`
            (`{ kind: "unknown", value }`) so the caller can see what was read.
            `expected: "q"` names the parameter.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - type: object
                    properties:
                      expected: { type: string, enum: [q] }
                      query:
                        type: object
                        properties:
                          kind: { type: string, enum: [unknown] }
                          value: { type: string }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/resources/{resourceId}:
    get:
      operationId: getResource
      tags: [Resolve]
      summary: Resource by resource_id (sha256 hex)
      description: |
        Product spec §9.1. The Resource record (canonical URL, method,
        payee_id, catalog status) with its payees and links to `/decision`,
        `/facts` and the observatory page. Key-less; 120/min.
      security: []
      parameters:
        - in: path
          name: resourceId
          required: true
          schema: { type: string, pattern: "^[0-9a-f]{64}$" }
      responses:
        "200": { description: "{ resource, payees, links, disclaimer }" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { description: Unknown resource_id }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/endpoints/{endpointId}:
    get:
      operationId: getEndpoint
      tags: [Resolve]
      summary: Endpoint by endpoint_id (sha256 hex) or legacy observatory uuid
      description: |
        Product spec §9.1. `endpoint_id` = sha256(origin + pathname_prefix).
        The observatory uuid used by /observatory/e/{id} is accepted too, so
        existing links keep resolving. Key-less; 120/min.
      security: []
      parameters:
        - in: path
          name: endpointId
          required: true
          schema: { type: string }
      responses:
        "200": { description: "{ endpoint, payees, links, disclaimer }" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { description: Unknown endpoint }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/payees/{address}/endpoints:
    get:
      operationId: listEndpointsByPayee
      tags: [Resolve]
      summary: payee → endpoints[]
      description: |
        Product spec §7.3. `payeeId` is `chain:address` (EVM lowercased,
        Solana base58 as-is); a bare 0x address is read as Base, a bare base58
        address as Solana mainnet. Key-less; 120/min.
      security: []
      parameters:
        - in: path
          name: address
          required: true
          schema: { type: string }
      responses:
        "200": { description: "{ payee_id, endpoints, count, disclaimer }" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/endpoints/{endpointId}/payees:
    get:
      operationId: listPayeesByEndpoint
      tags: [Resolve]
      summary: endpoint → payees[]
      description: |
        Product spec §7.3. Every payee_id declared by resources under the same
        endpoint_id, with the number of resources naming each. Key-less; 120/min.
      security: []
      parameters:
        - in: path
          name: endpointId
          required: true
          schema: { type: string }
      responses:
        "200": { description: "{ endpoint_id, payees, count, disclaimer }" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { description: Unknown endpoint }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/observatory/endpoints/{id}/facts:
    get:
      operationId: getEndpointFacts
      tags: [Observatory]
      summary: L0–L2 facts for one endpoint — measurement records only, no score
      description: |
        Product spec §8.1 / §9.1. `facts.l0` (published verdict, dialect),
        `facts.l1` (n_delivered / n_settled / n_attempts, p50/p95, last
        purchase_id), `facts.l2` (conform | mismatch | undeclared with the
        declaration hash), availability, offer_stability, payees, and the 30-day
        settlement counts raw and real side by side. `freshness` carries the
        observation times; `evidence` links the public receipts. Contains no
        trustScore and no recommendation by design (§8.3). `id` is the
        observatory uuid or the §5 endpoint_id. Key-less; 120/min.
      security: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        "200": { description: "{ subject, facts, freshness, evidence, disclaimer, retrievedAt }" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { description: Unknown endpoint }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/resources/{resourceId}/decision:
    get:
      operationId: getResourceDecision
      tags: [Decision]
      summary: Pre-payment / pre-service decision with the facts that produced it
      description: |
        Product spec §8.3 / §9.1. `role=payer` (default) answers "does this
        URL deliver as declared, right now?" from L0 liveness, L1
        settle-through and L2 conformance. `role=payee` answers "should this
        seller serve this payer?" and requires `payer`. The response carries
        `facts` and `recommendation` together; the transitional `score` is
        marked deprecated and is not the basis of the recommendation.
        `caller_dialect` (v1|v2) lets the engine WARN on a wall that speaks a
        different x402 dialect than your client. `allow_without_l1=true` is
        the operator's explicit opt-in to ALLOW a resource vet402 has not yet
        purchased from. Send `Idempotency-Key` to retry without spending a
        second rate-limit unit. 1 unit per call.
      parameters:
        - in: path
          name: resourceId
          required: true
          schema: { type: string, pattern: "^[0-9a-f]{64}$" }
        - in: query
          name: role
          required: false
          schema: { type: string, enum: [payer, payee], default: payer }
        - in: query
          name: payer
          required: false
          schema: { type: string }
        - in: query
          name: caller_dialect
          required: false
          schema: { type: string, enum: [v1, v2] }
        - in: query
          name: allow_without_l1
          required: false
          schema: { type: boolean, default: false }
        - in: header
          name: Idempotency-Key
          required: false
          schema: { type: string, maxLength: 128 }
      responses:
        "200":
          description: Decision with facts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DecisionResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Unknown resource_id }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { description: Decision unavailable }

  /api/v1/census/summary:
    get:
      operationId: getCensusSummary
      tags: [Census]
      summary: Settlement census — raw and real side by side
      description: |
        Product spec §7.2 / §9.1. `settlements_raw` counts every indexed
        x402-related settlement in the window; `settlements_real` excludes
        wash_flag self_deal / circular / test (including every wallet vet402
        pays from). Both numbers are always returned together and never merged.
        Attribution and source breakdowns are included, with the definition
        text in `definition`. Key-less; 60/min; cached 5 min.
      security: []
      parameters:
        - in: query
          name: chain
          required: false
          schema: { type: string }
          description: CAIP-2 (eip155:8453, solana:5eykt…) or a v1 slug (base, solana). Omit for all chains.
        - in: query
          name: window
          required: false
          schema: { type: string, enum: [7d, 30d], default: 30d }
      responses:
        "200": { description: "{ chain, window, settlements_raw, settlements_real, wash, attribution, unique_payers_raw, unique_payers_real, unique_payees_real, endpoints_with_real_settlement, by_source, definition, disclaimer, retrievedAt }" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/observatory/corrections:
    get:
      operationId: listCorrections
      tags: [Observatory]
      summary: Correction log — public verdicts that changed after publication
      description: |
        Product spec §10. Every row is a published verdict that was later
        overturned or completed: `dispute_remeasure` (a seller's signed dispute
        triggered a re-measurement over a separate path that overturned the
        verdict), `settlement_backfill` (a claimed settlement was later
        confirmed or refuted on-chain), `reverify` (a C4 re-verification).
        `before` / `after` are the published values. Corrections unfavourable
        to vet402 are listed the same way; rows are never deleted. Key-less; 60/min.
      security: []
      parameters:
        - in: query
          name: endpoint
          required: false
          schema: { type: string, format: uuid }
        - in: query
          name: limit
          required: false
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        "200": { description: "{ corrections[], definition, disclaimer }" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/observatory/backtest:
    get:
      operationId: getSpendGuardBacktest
      tags: [Observatory]
      summary: '"Had you followed the signals" — both sides, machine-defined'
      description: |
        Over vet402's OWN signed purchase attempts only: avoided (signalled
        attempts that did not settle) and forgone (signalled attempts that
        settled anyway) are always reported together, with the exact predicate
        embedded as `definition`. Key-less; 12/min; cached 1h.
      security: []
      responses:
        "200": { description: attemptsTotal, avoided, forgone, definition }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/observatory/disputes:
    post:
      operationId: submitDispute
      tags: [Observatory]
      summary: Seller dispute, EIP-191-signed by the endpoint's payTo
      description: |
        Only the holder of the endpoint's payTo key can dispute its record
        (message form
        `vet402:dispute:v1:{endpointId}:{subject}:{sha256(reason)}:{issued}`).
        Acceptance triggers one real L0 re-measurement recorded through the
        normal publication gate. Records are never deleted on dispute. 5/min.

        **Breaking change 2026-08-22 (v0 → v1).** `issued` (RFC 3339 UTC) is
        now part of the signed message and is REQUIRED. A signature whose
        `issued` is more than 10 minutes from server time in either direction
        is rejected (400 `signature_expired`), and a repeat of the same
        canonical message is rejected (409 `replayed`) — otherwise a captured
        signature could be replayed to trigger unlimited live re-probes.
        Signatures produced against the v0 message form no longer verify.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpointId, subject, reason, address, signature, issued]
              properties:
                endpointId: { type: string, format: uuid }
                subject: { type: string, enum: [l0, l1, listing] }
                reason: { type: string, maxLength: 4000 }
                address: { type: string }
                signature: { type: string }
                issued:
                  type: string
                  format: date-time
                  description: >-
                    RFC 3339 UTC instant folded into the signed message. Must be
                    within 10 minutes of server time in either direction.
                    Required since 2026-08-22 (message form v1).
      responses:
        "201": { description: Accepted; includes remeasureVerdict when the re-probe ran }
        "400": { description: "Invalid input, invalid signature, or `signature_expired` (signed `issued` outside the 10-minute window)" }
        "403": { description: Signer is not the endpoint's payTo }
        "404": { description: Unknown endpoint }
        "409": { description: "`replayed` — this exact canonical message was already accepted" }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/observatory/live:
    get:
      operationId: getObservatoryLiveFeed
      tags: [Observatory]
      summary: SSE feed of ledger rows as they land
      description: |
        Server-sent events for new L0 probes and L1 purchases (5s polling).
        The window closes every ~55s (serverless limit); EventSource
        reconnects with Last-Event-ID and misses nothing. Nothing is simulated
        — quiet periods are quiet. Key-less; 10 connections/min.
      security: []
      responses:
        "200":
          description: text/event-stream (events `probe`, `purchase`)
          content:
            text/event-stream: {}
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/observatory/requests:
    post:
      operationId: enqueueVerificationRequest
      tags: [Observatory]
      summary: Ask the Observatory to measure a listed endpoint next (free)
      description: |
        Queues one catalog endpoint for the next daily probe run (queued
        endpoints are measured first; results publish through the normal
        gate). Pending requests per endpoint collapse to one. 5/min.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpointId]
              properties:
                endpointId: { type: string, format: uuid }
      responses:
        "201": { description: Queued }
        "200": { description: Already queued (deduped) }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { description: Unknown endpoint }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/payees/{address}/history-flags:
    get:
      operationId: getPayeeHistoryFlags
      tags: [Scores]
      summary: Deterministic history predicates for a payTo wallet
      description: |
        Machine predicates over vet402's own ledger (repeat settle failure
        with no success; L0 verdict flapping in 14d; recorded price
        mismatches; recorded payTo mismatches), with counts and the exact
        definition embedded. Facts
        summarized — weighting is the caller's. API key required (1 unit).
      responses:
        "200": { description: Flags, counts, definition }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { description: Store unavailable }

  /api/v1/payees/{address}/verdict-fast:
    get:
      operationId: getPayeeVerdictFast
      tags: [Scores]
      summary: verify-at-settle — cached verdict, never computes
      description: |
        Returns the engine's cached, confident verdict or an honest
        `cache_cold` (treat as not-ALLOW; warm via the full /score endpoint).
        In-handler p95 is pinned under 1ms by the test suite. API key
        required (1 unit). See docs/verify-at-settle.md.
      responses:
        "200":
          description: A pinned verdict (`hit`) or an honest `cache_cold`
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PayeeVerdictFast" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { description: Verdict surface unavailable }

  /api/v1/waitlist:
    post:
      operationId: joinWaitlist
      tags: [Observatory]
      summary: Record interest in paid surfaces / design partnership
      description: |
        Stores an email + interest. Sends nothing — no automated emails; a
        human reads the list. Paid surfaces stay off until the economic-
        capture gates (docs/economic-capture-design.md §5) are passed. 5/min.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, interest]
              properties:
                email: { type: string, format: email }
                interest: { type: string, enum: [premium_data, design_partner, other] }
                note: { type: string, maxLength: 500 }
      responses:
        "201": { description: Recorded }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/observatory/decisions:
    get:
      operationId: getDecisionFeed
      tags: [Observatory]
      summary: Pay-or-refuse decisions the daily verifier actually made
      description: |
        The daily L1 runner's real-money decisions, mapped 1:1 from the ledger:
        refusals before signing (overcharging or unpayable walls) and outcomes
        after paying (settled / no-settlement), same weight. Excludes vet402-side
        non-decisions (budget_denied / request_error / in_flight). Includes the
        SpendGuard backtest as cumulative. Key-less; 30/min; cached 15 min.
      security: []
      parameters:
        - in: query
          name: days
          required: false
          schema: { type: integer, minimum: 1, maximum: 366, default: 30 }
      responses:
        "200": { description: Decision rows newest-first, totals, cumulative backtest, definition }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/observatory/concentration:
    get:
      operationId: getConcentration
      tags: [Observatory]
      summary: Receiving-structure aggregates (no entities named)
      description: |
        Structural facts over the active catalog with denominators, naming no
        entity: hosts receiving to multiple payTos, payTos on multiple hosts,
        and payTos with repeat settle failure and no success (same predicate as
        the keyed history-flags surface). Interpretation is left to the reader.
        Key-less; 12/min; cached 1h.
      security: []
      responses:
        "200": { description: Concentration aggregates with embedded definition }
        "429": { description: Rate limited }
        "503": { description: Store unavailable }

  /api/v1/observatory/history:
    get:
      operationId: getObservatoryHistory
      tags: [Observatory]
      summary: Daily L0/L1 aggregates per chain (history), as data
      description: |
        Daily rollup of the same raw measurements the Observatory publishes,
        keyed by UTC day and CAIP-2 chain. Read by the /observatory/state
        history chart from the same reader, so page and API cannot disagree.
        Chain "unknown" means the catalog row declares no network. Key-less;
        IP-throttled to 30/min; CDN-cached for 1 hour (rolled up daily).
      security: []
      parameters:
        - in: query
          name: days
          required: false
          schema: { type: integer, minimum: 1, maximum: 366, default: 30 }
      responses:
        "200":
          description: Daily per-chain aggregates, oldest day first
          content:
            application/json:
              schema:
                type: object
                properties:
                  days:
                    type: array
                    items:
                      type: object
                      properties:
                        day: { type: string, example: "2026-08-20" }
                        chain: { type: string, example: "eip155:8453" }
                        l0Probes: { type: integer }
                        l0Pass: { type: integer }
                        l1Attempts: { type: integer }
                        l1Settled: { type: integer }
                        spentUnits: { type: string, description: USDC base units }
                  disclaimer: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          description: Rate limited
        "503":
          description: Observatory store unavailable

  /api/v1/observatory/state:
    get:
      operationId: getObservatoryState
      tags: [Observatory]
      summary: State of x402 (aggregate L0/L1 measurements), as data
      description: |
        Key-less machine-readable twin of the `/observatory/state` page: the
        same aggregate figures — endpoints on record, currently listed,
        delisted, published pass/fail/unverified, per-chain breakdown, and L1
        real-purchase totals — computed by the same readers so the page and
        this API can never disagree. Facts with denominators, no composite
        score, no evaluative language. IP-throttled to 30/min; CDN-cached for
        15 minutes (recomputed at most daily by the catalog/probe crons).
      security: []
      responses:
        "200":
          description: Aggregate state with per-chain breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalEndpoints: { type: integer }
                  activeEndpoints: { type: integer }
                  delistedEndpoints: { type: integer }
                  publishedPass: { type: integer }
                  publishedFail: { type: integer }
                  publishedUnverified: { type: integer }
                  methodUndeclared: { type: integer }
                  eventCounts:
                    type: object
                    properties:
                      delisted: { type: integer }
                      relisted: { type: integer }
                      settleDrop: { type: integer }
                  l1:
                    type: object
                    properties:
                      attempts: { type: integer }
                      settled: { type: integer }
                      endpointsAttempted: { type: integer }
                  byChain:
                    type: array
                    items:
                      type: object
                      properties:
                        chain: { type: string }
                        totalEndpoints: { type: integer }
                        activeEndpoints: { type: integer }
                        publishedPass: { type: integer }
                        publishedFail: { type: integer }
                        publishedUnverified: { type: integer }
                  latestSnapshot:
                    type: object
                    nullable: true
                    properties:
                      snapshotDate: { type: string }
                      totalCount: { type: integer }
                      fetchedCount: { type: integer }
                  disclaimer: { type: string }
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Observatory store unavailable.

  /api/v1/observatory/watch:
    get:
      operationId: previewObservatoryWatch
      tags: [Observatory]
      summary: Preview the canonical message to claim delist alerts for a payee wallet
      description: |
        Authenticated. Returns the exact message this API key must have signed
        by the receiving wallet, plus the catalog endpoints currently paying
        that wallet. The signature binds wallet AND this key, so a signature
        for another key cannot route someone else's `endpoint.delisted` events.
      parameters:
        - name: wallet
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Canonical message and endpoints paying the wallet
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  endpointsPayingThisWallet:
                    type: array
                    items:
                      type: object
                      properties:
                        resourceKey: { type: string }
                        status: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      operationId: registerObservatoryWatch
      tags: [Observatory]
      summary: Register for endpoint.delisted events on a claimed payee wallet
      description: |
        Two proofs meet here: the API key authenticates the subscriber, and an
        EIP-191 signature over the preview message proves control of the
        receiving wallet. Max 20 wallets per key. Register a webhook subscribed
        to `endpoint.delisted` or the watch has nowhere to report.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet, signature]
              properties:
                wallet: { type: string }
                signature: { type: string, maxLength: 4000 }
      responses:
        "200":
          description: Watch registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  wallet: { type: string }
                  note: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Per-key watcher limit reached (max 20)
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Store unavailable
    delete:
      operationId: unregisterObservatoryWatch
      tags: [Observatory]
      summary: Remove this key's observatory watch on a wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet]
              properties:
                wallet: { type: string }
      responses:
        "200":
          description: Removed (or was not present)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Store unavailable

  /api/v1/observatory/endpoints/{id}/purchases:
    get:
      operationId: getObservatoryEndpointPurchases
      tags: [Observatory]
      summary: The L1 receipt series for one endpoint, as data
      description: |
        Key-less on purpose: the endpoint-level settle-through record — n paid
        attempts, m settled, each settled row carrying its on-chain tx hash —
        is the observatory's evidence layer, and evidence shown only to paying
        callers is marketing, not measurement. Same facts the human page at
        `/observatory/e/{id}` renders, aggregated by the same reader so the
        two can never disagree. Every row is returned including
        `settle_failed` — the record is the point, not the wins. Facts only:
        no composite scores, no evaluative language. IP-throttled to 30
        requests per minute; responses are CDN-cached for 10 minutes
        (purchases land at most daily).
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: Endpoint id from `/observatory` (the `e/{id}` page id).
      responses:
        "200":
          description: The endpoint's purchase record with honest totals
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpointId: { type: string, format: uuid }
                  resourceKey: { type: string }
                  resourceUrl: { type: string }
                  network: { type: string, nullable: true }
                  status: { type: string }
                  attemptCount: { type: integer }
                  settledCount: { type: integer }
                  settleRatePct:
                    type: number
                    nullable: true
                    description: settled/attempts to one decimal; null when there are no attempts (0/0 is not a rate).
                  purchases:
                    type: array
                    description: Newest first, up to 100 rows, every outcome included.
                    items:
                      type: object
                      properties:
                        attemptedAt: { type: string, format: date-time, nullable: true }
                        status: { type: string, description: "settled | settle_failed | delivered_no_receipt | …" }
                        amountUnits: { type: string, nullable: true }
                        txHash: { type: string, nullable: true, description: Present on settled rows — the on-chain receipt. }
                        httpStatusPaid: { type: integer, nullable: true }
                        latencyMs: { type: integer, nullable: true }
                        l2Schema: { type: string, nullable: true }
                  disclaimer: { type: string }
                  methodology: { type: string }
        "400":
          description: "`invalid_endpoint_id` — not a UUID."
        "404":
          description: "`endpoint_not_found`."
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Observatory store unavailable.

  /api/v1/accuracy:
    get:
      operationId: getAccuracyReport
      tags: [Accuracy]
      summary: The public accuracy ledger as JSON
      description: |
        What happened AFTER the verdicts vet402 issued, over a rolling 90-day
        window: aggregate counts only — no wallet addresses, no agent ids, no
        per-customer data. Key-less on purpose, because an accuracy number shown
        selectively is marketing rather than measurement.

        Two partitioned sets. The top-level figures are **external usage**:
        verdicts API users requested, judged by what the wallet did next.
        `operatorBenchmark` is a **self-seeded** controlled test against a fixed,
        versioned set of publicly-labelled addresses; it is excluded from every
        external figure at the SQL layer, so it cannot pad them.

        `interpretation` carries, in machine-readable form, the same caveats the
        human page prints next to these numbers — a "detection" counts BLOCK
        *or* WARN, a 0% false-positive rate means "none were blocked" rather
        than "all were passed", and a rate below the minimum sample is `null`
        rather than a number computed from noise. Read the JSON alone and you
        have the whole disclosure; you are not expected to parse the HTML.

        Rates move as the sample grows: cite them with `generatedAt`.

        Product spec §12 (2026-09-02) adds the measuring instrument's own
        quality: `l0` (false-fail rate = published fails overturned to pass
        within 7 days, target < 3%; false-pass rate = published passes whose
        next probe was no_402, target < 2%; null below the minimum sample),
        `slo` (L1 probe-error rate, C1 L0 freshness within 36h, C2 L1
        freshness within 48h, reverse-lookup latency within 60s, published
        failure evidence completeness — unmeasured items are named in
        `slo.unmeasured`), and `coverageWeekly` (listed / L0 measured / L1
        measured / real and raw settlements over 7 days).
      security: []
      responses:
        "200":
          description: Accuracy report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccuracyReport"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Report unavailable (outcome store unreachable)

  /api/v1/agents/verify:
    get:
      operationId: previewAgentVerifyMessage
      tags: [Agents]
      summary: Preview the canonical message to sign for an agent passport
      description: |
        Returns the exact message the agent's on-chain wallet must sign to
        register a passport, with that wallet resolved from the ERC-8004
        registry, plus the `issued` timestamp embedded in it (echo it back in
        the POST). The message binds agentId + wallet + name, optionally a
        `url` line, and an `issued` line (replay guard). `issued` must be
        within 10 minutes of the server clock at POST time. Key-less; 30
        requests per minute per IP.
      security: []
      parameters:
        - name: agentId
          in: query
          required: true
          schema: { type: string }
        - name: name
          in: query
          required: true
          schema: { type: string, maxLength: 80 }
        - name: url
          in: query
          required: false
          schema: { type: string, format: uri }
          description: Optional https profile URL; when set it is bound into the signed message.
      responses:
        "200":
          description: Canonical message to sign, with the resolved wallet
          content:
            application/json:
              schema:
                type: object
                required: [agentId, wallet, message, issued]
                properties:
                  agentId: { type: string }
                  wallet: { type: string }
                  message: { type: string }
                  issued:
                    type: string
                    description: Echo this exact value back in the POST body.
        "400":
          description: |
            `invalid_agent_id`, `invalid_name`, or `agent_wallet_unbound` — the
            last meaning the identity has no wallet bound on-chain, so no
            signature could prove control of it.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Chain unavailable — fail-closed, never a stored unverifiable claim.
    post:
      operationId: verifyAgent
      tags: [Agents]
      summary: Register an agent passport by signing the canonical message
      description: |
        Free, no API key. The on-chain wallet is resolved first, so the
        signature means "this agent", not merely "some wallet". Two throttles
        apply: 8 requests per minute per IP, and 4 per minute per agentId (a
        valid signature proves control, but one agent may not re-register
        without limit). `url` and `issued` are part of the signed bytes;
        writes are monotonic on `issued` (an older signature returns `409
        stale_signature` rather than rolling back a newer edit).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agentId, name, issued, signature]
              properties:
                agentId: { type: string }
                name: { type: string, maxLength: 80 }
                url: { type: string, format: uri, description: "Must be https://" }
                issued:
                  type: string
                  description: The exact `issued` value from GET (or self-generated, within 10 minutes of now).
                signature: { type: string, maxLength: 4000 }
      responses:
        "200":
          description: Passport registered and published
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  agentId: { type: string }
                  wallet: { type: string }
                  passport: { type: string }
                  profile: { type: string }
                  badge: { type: string }
        "400":
          description: |
            `invalid_request`, `invalid_agent_id`, `url_must_be_https`,
            `agent_wallet_unbound`, or `signature_mismatch` (whose body also
            carries `expectedMessage`, so a rejected signature is
            self-diagnosing).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  expectedMessage:
                    type: string
                    description: Present only on signature_mismatch.
        "429":
          description: |
            Throttled. `scope: "agent"` marks the per-agentId limit rather than
            the per-IP one.
        "503":
          description: Chain or store unavailable.

  /api/v1/agents/{agentId}/passport:
    get:
      operationId: getAgentPassport
      tags: [Agents]
      summary: Machine-readable agent passport
      description: |
        Key-less by design: a counterparty deciding whether to transact must be
        able to pull and check this with zero onboarding. Returns the signed
        identity claim, the verification material (`proof.message` and
        `proof.signature`) so the reader can re-run `verifyMessage` and
        cross-check the wallet against the registry without trusting this
        server, and a best-effort live score with explicit freshness. An
        unscorable agent still returns a valid passport with `score: null`.
        20 requests per minute per IP.
      security: []
      parameters:
        - $ref: "#/components/parameters/AgentId"
      responses:
        "200":
          description: Passport (verified or not — `verified` says which)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentPassport"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/demo/score:
    get:
      operationId: getDemoScore
      tags: [Scores]
      summary: One fixed agent, scored live, with no key
      description: |
        Scores a single agent chosen server-side (`DEMO_AGENT_ID`) so anyone can
        see a real computed verdict without an account. Nothing in the request
        selects what gets scored — this is a demo, not a free lookup API.
        10 requests per minute per IP.

        It must never look better than the truth: when the score cannot be
        computed it returns `live: false` rather than a stale or invented
        number, and when a verdict was computed from an input it could not read
        it is marked `degraded: true` (which the SDK and middleware treat as a
        denial). A cached value is up to five minutes old and says so via
        `cacheExpiresAt`.
      security: []
      responses:
        "200":
          description: |
            A live verdict, or the explicit absence of one. Both shapes return
            `200`; branch on `live`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DemoScoreResponse"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/badge/{address}:
    get:
      operationId: getPayeeBadge
      tags: [Badges]
      summary: Embeddable SVG badge for a payee wallet
      description: |
        States only whether a signed claim exists ("Verified payee" /
        "Unverified"). It deliberately carries no score: a cached score on a
        third-party page would outlive its freshness window. A `.svg` suffix on
        the address is accepted and is the conventional form. 60 requests per
        minute per IP; legitimate embeds are served from the CDN and never
        reach the limiter.
      security: []
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: SVG badge
          content:
            image/svg+xml:
              schema: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/badge/agent/{agentId}:
    get:
      operationId: getAgentBadge
      tags: [Badges]
      summary: Embeddable SVG badge for an ERC-8004 agent
      description: |
        The agent counterpart of `/api/badge/{address}`, with the same rules: a
        claim exists or it does not, no score in the badge, `.svg` suffix
        accepted, 60 requests per minute per IP.
      security: []
      parameters:
        - $ref: "#/components/parameters/AgentId"
      responses:
        "200":
          description: SVG badge
          content:
            image/svg+xml:
              schema: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/badge/endpoint/{id}.svg:
    get:
      operationId: getEndpointReceiptBadge
      tags: [Badges]
      summary: Embeddable SVG receipt badge for one x402 endpoint
      description: |
        States the measured settlement of L1 real purchases against one
        endpoint — e.g. "vet402: 3/5 settled" — for a seller to embed on their
        own site. Facts only: no trust judgment and no green/red. The
        denominator counts paid attempts only (settled / settle_failed /
        delivered_no_receipt), the same definition the /observatory/state
        aggregate uses, so this badge, the endpoint page, and the network
        totals never disagree. An unknown or not-yet-measured endpoint renders
        an honest "not yet measured" badge (still HTTP 200) rather than a
        broken image. The `.svg` suffix is part of the path. 60 requests per
        minute per IP; embeds are served from the CDN and rarely reach the
        limiter.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          description: The endpoint's UUID (as shown on /observatory/e/{id}).
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: SVG badge (measured counts, or an honest not-yet-measured state)
          content:
            image/svg+xml:
              schema: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/transparency/operator-overrides:
    get:
      operationId: getOperatorOverrides
      tags: [Transparency]
      summary: Public log of global operator blacklist actions
      description: |
        The machine-readable twin of the /operator-log page. Every GLOBAL
        operator blacklist act is published here — the address, the action, the
        stated reason, and when — so a scored party (or anyone) can audit
        whether vet402 has censored an address and on what grounds, and dispute
        it through the same keyless correction routes as any score. No key, no
        account, no charge. Customer-scoped lists are never exposed here: those
        are a customer's private management right, not a network-wide operator
        act.
      security: []
      responses:
        "200":
          description: The append-only global-override log (may be empty)
          content:
            application/json:
              schema:
                type: object
                properties:
                  overrides:
                    type: array
                    items:
                      type: object
                      properties:
                        wallet: { type: string }
                        action: { type: string, description: "blacklist_added | blacklist_removed" }
                        reason: { type: string }
                        created_at: { type: string, format: date-time }
                  count: { type: integer }
                  note: { type: string }

  /api/health:
    get:
      operationId: getHealth
      tags: [System]
      summary: Liveness for uptime pollers
      description: |
        Anonymous callers get exactly one bit of detail — up, partly, or not —
        and it comes from an actual probe of both scoring engines (seller-side
        and buyer-side), not from a constant. Service metadata (version, chain)
        is admin-only; it is fingerprinting material and is not returned here.

        **`degraded` is not up: it returns 503.** A poller reads the status
        code, so a half-down product must not look green. The body still
        distinguishes `degraded` from `error` for a human reading the curl.

        `?deep=1` returns per-check detail and requires the admin bearer token;
        without it, it is `403`.
      security: []
      parameters:
        - name: deep
          in: query
          required: false
          description: Set to `1` for the admin-only detailed report.
          schema: { type: string, enum: ["1"] }
      responses:
        "200":
          description: Up
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { type: string, enum: [ok] }
        "403":
          description: Deep report requested without the admin token
        "503":
          description: Degraded or down
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { type: string, enum: [degraded, error] }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key issued from the developer dashboard

  parameters:
    AgentId:
      name: agentId
      in: path
      required: true
      description: ERC-8004 agent token ID (uint256 as decimal string)
      schema:
        type: string
        example: "42"
    WalletAddress:
      name: address
      in: path
      required: true
      description: EVM wallet address (checksummed or lowercase)
      schema:
        type: string
        pattern: "^0x[a-fA-F0-9]{40}$"
        example: "0x1234567890123456789012345678901234567890"
    VerifyWallet:
      name: wallet
      in: query
      required: false
      description: Optional wallet to verify against agent's registered wallet
      schema:
        type: string
        pattern: "^0x[a-fA-F0-9]{40}$"

  schemas:
    Recommendation:
      type: string
      enum: [ALLOW, WARN, BLOCK]

    TrustSignals:
      type: object
      required: [identity, reputation, wallet, x402, sybil, manual]
      properties:
        identity:
          type: object
          properties:
            registered: { type: boolean }
            hasMetadataUri:
              type: boolean
              description: Whether the agent has a metadata URI on-chain (not a validation of URI contents)
        reputation:
          type: object
          properties:
            feedbackCount: { type: integer }
            avgScore: { type: number }
            onChainAvgScore:
              type: number
              description: Raw on-chain reputation average before normalization
        wallet:
          type: object
          properties:
            ageDays: { type: integer }
            txCount: { type: integer }
            isBurner: { type: boolean }
        x402:
          type: object
          properties:
            paymentCount: { type: integer }
            uniqueDays: { type: integer }
            score:
              type: number
              description: >-
                Internal 0–100 component for the highest-weighted axis.
                vet402 2026-08-14: the axis is "verifiable economic activity",
                not x402 settlements alone — this reflects the STRONGER of the
                L1 observed purchases below and the x402 settlements above.
                Kept under `x402` for wire back-compat.
            l1PurchaseCount:
              type: integer
              description: >-
                vet402 2026-08-14 — delivery-verified L1 observed purchases
                behind the axis score (the premium signal). 0 until the
                observatory writes its first row for this wallet.
            l1DistinctSellers:
              type: integer
              description: Distinct L1 counterparties behind l1PurchaseCount.
        sybil:
          type: object
          properties:
            risk:
              type: string
              enum: [low, medium, high]
            flags:
              type: array
              items: { type: string }
        manual:
          type: object
          properties:
            list:
              type: string
              enum: [none, whitelist, blacklist]

    TrustScoreResult:
      type: object
      required:
        - agentId
        - trustScore
        - recommendation
        - signals
        - scoredAt
        - cacheExpiresAt
        - disclaimer
      properties:
        agentId:
          type: string
          description: ERC-8004 agent ID; "0" if wallet-only lookup
        wallet:
          type: string
          nullable: true
        trustScore:
          type: integer
          minimum: 0
          maximum: 100
        recommendation:
          $ref: "#/components/schemas/Recommendation"
        signals:
          $ref: "#/components/schemas/TrustSignals"
        breakdown:
          $ref: "#/components/schemas/ScoreBreakdown"
        reasons:
          type: array
          items: { type: string }
          description: >-
            Stable machine-readable codes behind the verdict, derived from the
            same signals (for integrators' compliance logs). Cannot disagree
            with the recommendation.
        scoredAt:
          type: string
          format: date-time
        cacheExpiresAt:
          type: string
          format: date-time
        disclaimer:
          type: string
        manualOverride:
          type: boolean
          description: True when customer WL/BL changed the recommendation
        blockReason:
          type: string
          description: Present when recommendation is BLOCK (e.g. wallet_mismatch, operator_policy)
        dataCoverage:
          type: object
          description: Indexer and settlement data freshness
          properties:
            ownerIndexer:
              type: object
              properties:
                status:
                  type: string
                  enum: [synced, partial, unavailable]
                blocksBehind:
                  type: integer
                  nullable: true
                lastBlock:
                  type: string
                  nullable: true
                  description: Last block the owner indexer has processed (decimal string); null when unknown
                indexedAgentRows:
                  type: integer
                  description: Agent rows the owner indexer currently holds
                staleRisk: { type: boolean }
            settlement:
              type: object
              properties:
                paymentRows: { type: integer }
                distinctWallets: { type: integer }
                recentPayments30d: { type: integer }
                walletHasHistory: { type: boolean }

    ScoreComponent:
      type: object
      required: [score, weight, contribution]
      properties:
        score:
          type: number
          description: 0-100 component score fed into the weighting
        weight:
          type: number
          description: Its weight in the chain-signal sum (identity 0.2 / reputation 0.3 / wallet 0.2 / x402 0.1)
        contribution:
          type: number
          description: score × weight ÷ 0.8; the four contributions sum to weightedSubtotal

    ScoreBreakdown:
      type: object
      description: >-
        N-21 explainability. Decomposition of the chain score into its four
        weighted components plus the sybil adjustment — the exact arithmetic of
        the weighting, so it cannot disagree with trustScore. Omitted on
        hard-blocked verdicts where no weighting ran. The manual whitelist/
        blacklist layer is intentionally excluded (see manualOverride).
      required: [components, weightedSubtotal, sybilPenalty, prePolicyScore]
      properties:
        components:
          type: object
          required: [identity, reputation, wallet, x402]
          properties:
            identity: { $ref: "#/components/schemas/ScoreComponent" }
            reputation: { $ref: "#/components/schemas/ScoreComponent" }
            wallet: { $ref: "#/components/schemas/ScoreComponent" }
            x402: { $ref: "#/components/schemas/ScoreComponent" }
        weightedSubtotal:
          type: number
          description: Weighted average of the four components before the sybil penalty
        sybilPenalty:
          type: number
          description: Points removed by sybil/availability flags (<= 0); see signals.sybil.flags
        prePolicyScore:
          type: integer
          minimum: 0
          maximum: 100
          description: weightedSubtotal + sybilPenalty, clamped; equals trustScore unless a manual list moved it

    WebhookEventType:
      type: string
      enum: [watch.verdict_changed, outcome.recorded, list.changed]
      description: >-
        Subscribable webhook events. watch.verdict_changed = a watchlist
        target's recommendation moved on a re-scan; outcome.recorded = an
        outcome landed on a verdict you requested; list.changed = your own
        manual whitelist/blacklist changed. Scores themselves are never pushed.

    Webhook:
      type: object
      required: [id, url, events, active]
      properties:
        id: { type: string, format: uuid }
        url: { type: string, format: uri }
        events:
          type: array
          items: { $ref: "#/components/schemas/WebhookEventType" }
        active:
          type: boolean
          description: Set false automatically after 20 consecutive failed deliveries

    WebhookDelivery:
      type: object
      description: >-
        The JSON body POSTed to your endpoint. Signed with header
        `Vouch-Signature: t=<unix>,v1=<hex HMAC-SHA256 of "<t>.<rawBody>">`.
        Verify by recomputing the HMAC with your whsec_ secret in constant time
        and rejecting a timestamp more than 300s old (replay guard). Delivery is
        at-most-once (no retry); dedupe on `id`.
      required: [id, type, createdAt, data]
      properties:
        id:
          type: string
          description: Unique event id (evt_…); use as an idempotency key
        type: { $ref: "#/components/schemas/WebhookEventType" }
        createdAt: { type: string, format: date-time }
        data:
          type: object
          description: >-
            Event-specific. watch.verdict_changed: watchId, targetType, target,
            chainId, previous{score,recommendation}, current{score,recommendation}.
            outcome.recorded: trustEventId, outcomeType, source, wallet, agentId.
            list.changed: action, wallet, listType.

    DataDepth:
      type: string
      enum: [thin, moderate, rich]
      description: |
        How much receiving history this score could draw on. `thin` wallets lean more
        heavily on wallet-health and outflow-pattern signals since there isn't much
        settlement track record yet; `rich` wallets are judged mostly on that track
        record. Integrators should treat a `thin` score as lower-confidence.

    PayeeSignals:
      type: object
      required: [receiving, walletHealth, drainPattern, outcomeHistory, flags]
      properties:
        receiving:
          type: object
          description: Settlement history where this wallet was the payee (attested via POST /payments/x402)
          properties:
            paymentCount: { type: integer }
            uniqueDays: { type: integer }
            distinctPayers: { type: integer }
            score:
              type: number
              description: Internal 0-100 receiving-track-record component
            l1DeliveryCount:
              type: integer
              description: >-
                vet402 2026-08-14 — delivery-verified L1 receipts behind the
                receiving score (the premium signal: the observatory actually
                paid this payee and checked what came back). 0 until the
                observatory writes its first row for this wallet.
            l1DistinctBuyers:
              type: integer
              description: Distinct L1 buyers behind l1DeliveryCount.
            l1Settled:
              type: integer
              description: >-
                Settlements to this payee that vet402 confirmed on-chain
                (recipient, amount, token, chain, confirmations).
            l1PaidNeverSettled:
              type: integer
              description: >-
                Paid attempts by vet402 that resolved WITHOUT an on-chain
                settlement. Pending verifications are not counted here.
            l1NonSettlingDays:
              type: integer
              description: >-
                Distinct UTC days on which a non-settling paid attempt
                occurred. Separates a one-day outage from a sustained
                pattern.
            l1PendingVerification:
              type: integer
              description: >-
                Paid attempts whose claimed settlement vet402 has not
                re-read on-chain yet. Never counted against the payee.
            l1NonDeliveryReason:
              type: string
              nullable: true
              enum: [paid_never_settled_sustained, paid_never_settled_repeated, paid_never_settled]
              description: >-
                Present when a non-delivery ceiling was applied to the final
                score. null when no such ceiling applies.
        walletHealth:
          type: object
          description: Reused from the same on-chain wallet-age/tx-count/burner heuristics as the seller-side score
          properties:
            ageDays: { type: integer }
            txCount: { type: integer }
            isBurner: { type: boolean }
            score:
              type: number
              description: Internal 0-100 wallet-health component
        drainPattern:
          type: object
          description: Exit-scam-shaped check — received funds, then pulled out (near-)everything
          properties:
            detected: { type: boolean }
            drainRatio:
              type: number
              nullable: true
              description: outgoing / (outgoing + current balance) over the wallet's recent transactions
            outgoingCount: { type: integer }
            incomingCount: { type: integer }
            score:
              type: number
              description: Internal 0-100 drain-pattern component
            unmeasured:
              type: array
              items: { type: string }
              description: >-
                Asset legs that could NOT be read on this request, named rather
                than averaged away — e.g. ["native_drain"], ["usdc_drain"], or
                both. Empty when every leg was assessed. These names also
                appear in the top-level `signalsUnavailable`; a non-empty list
                means the drain view is partial.
        outcomeHistory:
          type: object
          description: Prior verdict_outcomes labels naming this wallet (auto-detected or partner-reported)
          properties:
            types:
              type: array
              items: { type: string }
            adjustment:
              type: number
              description: Net point adjustment applied to the pre-outcome weighted score
        flags:
          type: array
          items: { type: string }
          description: e.g. wallet_metrics_unavailable, drain_check_unavailable, new_burner_wallet, negative_outcome:rug_pull_outflow

    PayeeVerdictFast:
      oneOf:
        - $ref: "#/components/schemas/PayeeVerdictFastHit"
        - $ref: "#/components/schemas/PayeeVerdictFastCold"
      discriminator:
        propertyName: status
      description: |
        verify-at-settle answer. **Only `hit` + `ALLOW` clears a payment.**
        `cache_cold` is the ABSENCE of a verdict, not a permissive one — treat
        it as not-ALLOW, warm asynchronously via the full `/score` endpoint
        (same cache, TTL 5 min), and retry. See docs/verify-at-settle.md; the
        rule is implemented as `payeeVerdictFastAllows` in @vouchscore/sdk.

        This body deliberately carries no `degraded` / `signalsUnavailable`:
        the engine never pins a degraded or partially-measured reading, so a
        `hit` cannot be a fail-closed refusal wearing an ALLOW.

    PayeeVerdictFastHit:
      type: object
      required: [status, recommendation, score, cacheExpiresAt, handlerMicros]
      properties:
        status:
          type: string
          enum: [hit]
        recommendation:
          $ref: "#/components/schemas/Recommendation"
        score: { type: integer, minimum: 0, maximum: 100 }
        cacheExpiresAt:
          type: string
          format: date-time
          description: >-
[...]
